<!DOCTYPE html>
<% require 'date' %>
<html>
    <head>
        <title>Date and Time</title>
    </head>
    <body>
        <h1>Today: Date and Time</h1>
        <p>The date is <%= Date.today.strftime("%A, %B %d, %Y") %> </p>
    </body>
</html>